*{
    box-sizing: border-box;
    list-style: none;
}

body{
    margin: 0px;
}

footer, nav{
    text-align: center;
    background-color: rgb(41, 40, 40);
    display: flex;
}

footer a, nav a{
    color: rgb(213, 247, 247);
    padding: 17px;
    text-overflow: none;
    font-size: 23px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(41, 40, 40);
    background-color: rgb(213, 247, 247);
    transition: 0.4s;
}

footer a:hover{
    color: rgb(41, 40, 40);
    background-color: rgb(213, 247, 247);
    transition: 0.4s;
}

nav a :visited{
    color: rgb(194, 58, 194);
}

footer a:visited{
    color: rgb(194, 58, 194);
}

section{
    text-align: center;
    column-width: 100%;
    padding-top: 30px;
    height: 100vh;
}

.self{
    margin-left: 9%;
    margin-right: 6%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    text-overflow: none;
}

h2 span{
    color: rgb(213, 247, 247);
    padding: 10px 45px;
    font-size: 30px;
    background-color: rgb(41, 40, 40);
    border-radius: 13px;
}

.head{
    background-image: url(banner.png);
    height: 20vw;
    min-height: 100px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;
    background-attachment: fixed;
}

.subutton{
    margin-left: auto;
}

.copyright{
    margin-left: auto;
    color: azure;
    font-size: 20px;
    margin-right: 1%;
    margin-top: 1.5%;
}

.carousel {
    height: 80%;
    margin: 0 120px;
    position: relative;
  }
  
  .carousel-cell {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    counter-increment: carousel-cell;
    position: absolute;
  }

.profile{
    border-radius: 8%;
    max-width: 250px;
    width: 100%;
    height: auto;
}

h4{
    font-size: 20px;
    font-weight: 800;
    font-family: cursive;
}

.name{
    font-size: 1.6em;
    font-weight: 900;
    letter-spacing: 4px;
    word-spacing: 6px;
    text-transform: uppercase;
    margin: 20px 0px 20px 0px;
}

.handle a{
    font-size: 22px;
    text-decoration: none;
    background-color: rgba(221, 219, 219, 0.966);
    padding: 13px;
    margin: 7px;
    border-radius: 30px;
}

.links:hover{
    background-color: rgba(173, 170, 170, 0.966);    
}

.fa-youtube{
    color: #FF0000;
}

.fa-linkedin{
    color: #0077b5;
}

.intro{
    background-color: rgba(213, 247, 247, 0.966);
    height: auto;
    min-height: 100vh;
}

.intro_pic_name{
    float: right;
    margin: 2% 8% 0% 6%;
}

@media screen and (max-width: 1040px) {
    .carousel-cell a img{
        width: 60%;
        height: 100%;
    }
    .carousel-cell iframe{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 780px) {
    .carousel-cell a img{
        width: 60%;
        height: 100%;
    }
    .carousel-cell iframe{
        width: 100%;
        height: 100%;
        margin-top: 46%;
    }
}

@media screen and (max-width: 780px){
    footer, nav{
        flex-direction: column;
    }
    
    footer a, nav a {
        padding: 5px;
        font-size: 3vh;
    }

    .subutton{
        margin-left: 0%;
    }

    .head{
        height: 30vw;
        min-height: 100px;
    }

    .carousel-cell iframe{
        width: 100%;
        height: 50%;
    }

    .carousel{
        height: 77vh;
        margin: 0px 2px;
    }

    .copyright{
        margin-left: 0%;
    }

    h2 span{
        font-size: 20px;
    }

    .profile{
        width: 140px;
    }

    .name{
        font-size: 1em;
        font-weight: 700;
        letter-spacing: 2.5px;
        word-spacing: 5px;
        text-transform: uppercase;
        margin: 10px 0px 2px 0px;
    }

    .self{
        font-size: 13px;
        margin: 1% 2% 1% 4.5%;
    }

    .handle{
        margin: 0px 0px 11px 0px;
    }

    .handle a{
        font-size: 15px;
        padding: 7px;
        margin: 5px;
    }
}

@media screen and (max-width: 700px) {
    .carousel-cell a img{
        width: 60%;
        height: 90%;
    }
}

@media screen and (max-width: 600px) {
    .carousel-cell a img{
        width: 80%;
        height: 90%;
    }
}

@media screen and (max-width: 430px){
    .carousel-cell a img{
        width: 100%;
        height: 90%;
    }
}
